.home-page {
  background-image: url("https://www.rockarchive.com/media/3620/spines-spines005keha.jpg?crop=0.11492281303602059,0.11320754716981132,0.11320754716981132,0.11492281303602059&cropmode=percentage&width=800&height=800&rnd=133141109250000000&overlay=watermark.png&overlay.size=230,20&overlay.position=0,780");
  background-size: cover;
  background-position: center;
}
